header {
  width: 100%;
  height: 7rem;
  background-color: var(--clr-white);

  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      position: fixed;
      top: 7rem;
      left: 100%;
      width: 100%;
      height: calc(100vh - 7rem);
      background-color: var(--clr-tertiary);
      background-image: url("../images/bg-pattern-mobile-nav.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      transition: .4s;
      z-index: 2;

      padding-block-start: 5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      &--link a {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--clr-white);
        font-size: 2rem;
        letter-spacing: 0.2rem;
        transition: 0.4s;

        &:hover {
          opacity: 0.8;
        }
      }

      &--link:last-child {
        width: 90%;

        .btn {
          width: 100%;
          text-align: center;
          padding-block: 1.6rem;
          transition: 0.4s;

          &:hover {
            background-color: var(--clr-white);
            color: var(--clr-tertiary);
          }
        }
      }
    }

    &__hamburger {
      cursor: pointer;
      width: 3rem;
      aspect-ratio: 1;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("../images/icon-hamburger.svg");
      background-size: contain;
    }

    &__hamburger:checked {
      background-image: url("../images/icon-close.svg");
    }

    .nav__hamburger:checked + .nav__list {
      left: 0;
    }
  }

  @include media-tablet {
      .nav {
        &__list {
            all: unset;
            display: flex;
            align-items: center;
            gap: 2rem;

            &--link a {
                font-size: 1.3rem;
                color: var(--clr-quaternary);

                &:hover {
                    color: var(--clr-black);
                }
            }

            &--link:last-child {
                width: max-content;

                .btn {
                    padding: .7rem 2.7rem;
                    border-color: var(--clr-primary);
                    color: var(--clr-primary);
                    border-width: .2rem;

                    &:hover {
                        background-color: var(--clr-black);
                        color: var(--clr-white);
                    }
                }
            }
        }
      }
  }
}
